
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
    roxo1:  #A02FF2;
    rosa-logo:  #EA49A2
    verde-logo: #C9FF33
    roxo-esc:   #2E0571
    rosa-esc:   #B7166F
    fade1:      #4b0c6d
    fade2:      #220a37
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 500vh;
    background-color: rgb(141, 175, 175);
}

/* CONTÉUDO COM MARGEM */
.container {
    max-width: 1800px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO NO HEADER */
.logo-flashback {
    width: 200px;
}

header {
    width: 100%;
    padding: 20px 5%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;

    ul {
        list-style-type: none;
    }
    li {
        display: inline-block;
        margin: 0 40px;
    }
    .navbar {
        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 16px;
        }
        a:hover{
            background: linear-gradient(to right, #a02ff2, #f74b6f);
            color: #140535;
            font-size: 20px;
            transition: 0.5s
        }
    }
    
}

header.rolagem {
    padding: 10px 5%;
    background: linear-gradient(to right, #a02ff2, #f74b6f);
    transition: 1s;
}

#banner {
    height: 100vh;
    background-image: url(../assets/img/banner-star.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Menu com opções que desce (Eventos) */
    /* dropdown */

.dropdown {
    transition: 2s;
}
.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    z-index: 1;

    li {
        align-self: flex-start;
        display: flex; 
    }

}

.navbar {
    a {
        padding: 6px 20px;
        color:#ffffff;
        transition: 0.5s;
    }
    a:hover {
        border: 2px solid #ffffff; /* Borda */
        border-radius: 30px; /* Borda arredondada */
        color:#140535;
        font-size: 20px;
        transition: 0.5s;
        /* transform: skew(5deg, 5deg); */
    }
    
}

.dropdown:hover .dropdown-content {
    background-color: #140535;
    width: 300px;
    padding: 10px 0; 
    background: linear-gradient(to right, #a02ff2, #f74b6f);
    color:#EA49A2;
    margin-left: -10px;
    display: flex;
    flex-direction: column;
    transition: 2s;
} 


.btn-1  {
    border: 2px solid #ffffff; /* Borda */
    background-color: #14053500;
    color: #ffffff; /* Cor do texto */
    padding: 6px 28px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove a decoração de texto */
    display: inline-block; /* Exibe o botão como um elemento em linha */
    font-size: 16px; /* Tamanho do texto */
    margin: 4px 2px; /* Margem entre os botões */
    cursor: pointer; /* Cursor do mouse */
    border-radius: 10px; /* Borda arredondada */
    transition: 0.5s;
}

.btn-1:hover  {
    background: linear-gradient(to right, #a02ff2, #f74b6f);
    border-radius: 30px; /* Borda arredondada */
    transition: 0.5s;
    color: #140535;
    font-size: 20px;
}

.btn-2  {
    border: 2px solid #140535; /* Borda */
    background-color: #140535; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    padding: 6px 28px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove a decoração de texto */
    display: inline-block; /* Exibe o botão como um elemento em linha */
    font-size: 16px; /* Tamanho do texto */
    margin: 4px 2px; /* Margem entre os botões */
    cursor: pointer; /* Cursor do mouse */
    border-radius: 10px; /* Borda arredondada */
    transition: 0.5s;
}

.btn-2:hover  {
    border: 2px solid #ffffff;
    background: linear-gradient(to right, #a02ff2, #f74b6f);
    border-radius: 30px; /* Borda arredondada */
    transition: 0.5s;
    color: #140535;
    font-size: 20px;
}



    







