@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* 
    roxo1:  #A02FF2;
    rosa1:  #f74b6f;
    azul-marinho: #140535;
    branco: #f4f4f4;
*/

/* TODOS OS ELEMENTOS */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* PÁGINA */ 
html {
    height: 100vh;
    background: linear-gradient(to right, #a02ff2, #f74b6f);
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 16px;
    
}

.gif {
    width: 200px;
    position: absolute;
    margin-top: -70px;
    transition: 1s;
    margin-right: 1000px;
}

.gif:hover {
    width: 200px;
    transition: 1s;
    margin-top: -80px;
}

.div_total {
    background-color: #140535;
    height: 95%;
    width: 95%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2.5vh;

    .div_lateral {
        color:#f4f4f4;
        height: 100%;
        width: 25%;
        background-color: #31146f;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 2.5vh 0 0 2.5vh ;
    }
    .div_graficos {
        width: 90%;
        height: 75%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .div2 {
        color:#f4f4f4;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .div3 {
        color:#f4f4f4;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;

    }
    .div4 {
        color:#f4f4f4;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .div_titulo {
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    

    .div_tudo {
        width: 75%;
        height: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .div_kpi {
        width: 25%;
        height: 70%;
        margin-bottom: 100px;
        color: #f4f4f4;
        background-color: #14053500;
        border: 1px solid #f4f4f4;
        box-shadow: none;
        padding: 5%;
        border-radius: 20px;

        h3 {
            color: #f74b6f; 
        }
    }
    .div_kpi:hover {
        color: #886cdd;
        background-color: #0b051d;
        border: 3px solid #886cdd;
        box-shadow: none;
        padding: 5%;
        border-radius: 20px;
        h3 {
            color: #f4f4f4; 
        }
    }

}

a {
    text-decoration: none;
}


.btn-pai {
    padding: 6px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
    text-decoration: none; /* Remove a decoração de texto */
    display: inline-block; /* Exibe o botão como um elemento em linha */
    font-size: 16px; /* Tamanho do texto */
    margin: 4px 2px; /* Margem entre os botões */
    cursor: pointer; /* Cursor do mouse */
    border-radius: 10px; /* Borda arredondada */
    transition: 0.5s;
    cursor: pointer;
}

.btn1  {
    width: 100%;
    border: 2px solid #f4f4f4; /* Borda */
    background-color: #14053500;
    color: #f4f4f4; /* Cor do texto */
}
.btn1:hover  {
    border-radius: 25px;
    background-color: #140535;
    color: #a02ff2;
}

.bar {
    width: 100%; margin: auto;
}

.pizza {
    width: 50%; margin: auto;
}