<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../style/index.css">

    <!-- JAVASCRIPT -->
    <script src="..\script\index.js"></script>

    <!-- FAVICON -->
    <link rel="icon" href="../assets/img/favicon.png" type="image/x-icon">

    <!-- NOME ABA -->
    <title>Site - Flashback</title>
</head>
<body>
    <!-- 
        HEADER - (LOGO / LINKS DE NAVEGAÇÃO / BOTÕES 'CADASTRO' E 'LOGIN') 
    -->
    <header>
        <!-- LOGO -->
        <img class="logo-flashback" src="../assets/img/logo-flashback.png" alt="">
        <!-- GLOBO -->
        <img class="gif" src="../assets/img/globo-gif.gif" alt="">

        <!-- LINKS DE NAVEGAÇÃO -->
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="#sobre"> Sobre </a></li>
                <li><a href="#historia"> História </a></li>
                <li><a href="#player"> Player </a></li>
                <li class="dropdown">
                    <a href="#"> Eventos ▾</a>
                    <ul class="dropdown-content">
                        <li><a href="#rockinrio">Rock in Rio 1985</a></li>
                        <li><a href="#usaforafrica">USA for Africa</a></li>
                    </ul>
                </li>
                <li><a href="#"> Boates </a></li>
                <li><a href="#"> Quiz </a></li>
            </ul>
        </nav>

        <div class="div_buttons">
            <button>Login</button>
            <button>Cadastro</button>
        </div>
    </header>

    <!-- 
        BANNER - (BANNER ROTATIVO / TITULO / BOTÃO 'SUCESSOS DA ÉPOCA') 
    -->
    <section id="banner">

    </section>

    <!-- 
        SOBRE - (IMAGEM / TEXTO EXPLICATIVO / BOTÃO 'SAIBA MAIS') 
    -->
    <section id="sobre">

    </section>

    <!-- 
        MUSICAS -
        (IMAGEM DA MUSICA / TITULO DA MUSICA / ÁLBUM / ANO) 
        (BOTÕES 'VOLTAR MÚSICA', 'PLAY / PAUSE' E 'PRÓXIMA MÚSICA')
        (BOTÕES IMAGEM DO ARTISTA / BANDA / ANO DE NASCIMENTO E ANO DE MORTE)
    -->
    <section id="musicas">

    </section>

    <!--
        ESTRELAS -
        (BOTÕES 'VOLTAR ARTISTA' E 'PRÓXIMA ARTISTA' / IMAGEM DO ARTISTA /  ) 
    -->
    <section id="estrelas">
    
    </section>

    <!--
        EVENTO - ROCK IN RIO (1985) -
        (BANNER / TITULO / BOTÃO 'SAIBA MAIS')
    -->
    <section id="evento-rir">

    </section>

    <!--
        EVENTO - USA FOR AFRICA (WE ARE THE WORLD) -
        (BANNER / TITULO / BOTÃO 'SAIBA MAIS')
    -->
    <section id="evento-ufa">

    </section>
    <!--
        QUIZ -
        (TITULO / PEQUENO TEXTO / BOTÃO 'FAÇA JÁ O QUIZ')
    -->
    <section id="quiz">

    </section>

    <!--
        FOOTER -
        (LINKS DE NAV / AGRADECIMENTO / LOGO)
    -->
    <footer>

    </footer>
</body>
</html>
