<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../style/index.css">

    <!-- JAVASCRIPT -->
    <script src="..\script\index.js" defer></script>

    <!-- FAVICON -->
    <link rel="icon" href="../assets/img/favicon.png" type="image/x-icon">

    <!-- NOME ABA -->
    <title>Site - Flashback</title>
</head>
<body>
    <!-- 
        HEADER - (LOGO / LINKS DE NAVEGAÇÃO / BOTÕES 'CADASTRO' E 'LOGIN') 
    -->
    <header id="header">
        <div class="header-container">
            <div class="header-flex">
                <!-- LOGOS -->
                <a href="#">
                    <img class="logo-flashback" src="../assets/img/logo-flashback.png" alt="">
                </a>
                <!-- LINKS DE NAVEGAÇÃO -->
                <nav class="navbar">
                    <ul class="nav-list">
                        <li><a href="#sobre"> Sobre </a></li>
                        <li><a href="#player"> Player </a></li>
                        <li class="dropdown">
                            <a href="#"> Eventos ▾</a>
                            <ul class="dropdown-content">
                                <li><a href="#rockinrio">Rock in Rio 1985</a></li>
                                <li><a href="#usaforafrica">USA for Africa</a></li>
                            </ul>
                        </li>
                        <li><a href="#"> Boates </a></li>
                        <li><a href="#"> Quiz </a></li>
                    </ul>
                </nav>
                <div class="div-btns">
                    <button class="btn-1 btn-pai">Login</button>
                    <button class="btn-2 btn-pai">Cadastre-se</button>
                </div> 
            </div>
        </div>
        <!-- GLOBO -->
        <img class="gif" src="../assets/img/globo-gif.gif" alt="">

        
    </header>

    <!-- 
        BANNER - (BANNER ROTATIVO / TITULO / BOTÃO 'SUCESSOS DA ÉPOCA') 
    -->

    <div class="slideshow-container">
        <div class="slides">
            <img src="../assets/img/banner-star.png" alt="Slide 1">
        </div>
        <div class="slides">
            <img src="../assets/img/banner-star-2.png" alt="Slide 2">
        </div>
        <div class="slides">
            <img src="../assets/img/usaforafrica.png" alt="Slide 3">
        </div>
    
        <a class="prev">
            <button class="btn-pai">
                &#10094;
            </button>
        </a>
        <a class="next">
            <button class="btn-pai">
                &#10095;
            </button>
        </a>
    </div>
    
    <div class="dot-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <!-- 
        SOBRE - (IMAGEM / TEXTO EXPLICATIVO / BOTÃO 'SAIBA MAIS') 
    -->
    <section id="sobre">
        <aside class="texto-sobre">
            <h1>Sobre o Projeto</h1>
            <h4>
                A música tem o poder de nos contagiar, ouvimos uma canção e passamos a sentir o que o artista poderia estar sentindo no momento. Esses momentos podem ser de alegria, de emoção, de paixão e até de tristeza. Escutar uma nova música, conhecer artistas diferentes e se atualizar sobre novos talentos é legal, mas nada se compara a escutar velhas canções, músicas que te levam a momentos de nostalgia inesquecíveis. E as músicas antigas tem esse poder em minha vida, elas me levam a um mundo onde tudo parece mais leve e feliz. Por isso, fiz esse projeto, não com o intuito de menosprezar as músicas atuais, porém com o propósito de valorizar músicas que ainda tocam no coração de muitas pessoas.
            </h4>
            <button class="btn-2 btn-pai">
                Saiba Mais
            </button>
        </aside>
        <article>
            <img width="600px"src="../assets/img/john-travolta.png" alt="">
        </article>
    </section>

    <!-- 
        PLAYER -
        (IMAGEM DA MUSICA / TITULO DA MUSICA / ÁLBUM / ANO) 
        (BOTÕES 'VOLTAR MÚSICA', 'PLAY / PAUSE' E 'PRÓXIMA MÚSICA')
        (BOTÕES IMAGEM DO ARTISTA / BANDA / ANO DE NASCIMENTO E ANO DE MORTE)
    -->
    <section id="player">

    </section>

    <!--
        EVENTO - ROCK IN RIO (1985) -
        (BANNER / TITULO / BOTÃO 'SAIBA MAIS')
    -->
    <section id="evento-rir">
        <article>
            <img width="600px"src="../assets/img/john-travolta.png" alt="">
        </article>
        <aside class="texto-sobre">
            <h1>Rock in Rio 85</h1>
            <h4>
                A música tem o poder de nos contagiar, ouvimos uma canção e passamos a sentir o que o artista poderia estar sentindo no momento. Esses momentos podem ser de alegria, de emoção, de paixão e até de tristeza. Escutar uma nova música, conhecer artistas diferentes e se atualizar sobre novos talentos é legal, mas nada se compara a escutar velhas canções, músicas que te levam a momentos de nostalgia inesquecíveis. E as músicas antigas tem esse poder em minha vida, elas me levam a um mundo onde tudo parece mais leve e feliz. Por isso, fiz esse projeto, não com o intuito de menosprezar as músicas atuais, porém com o propósito de valorizar músicas que ainda tocam no coração de muitas pessoas.
            </h4>
            <button class="btn-2 btn-pai">
                Saiba Mais
            </button>
        </aside>
        
    </section>

    <!--
        EVENTO - USA FOR AFRICA (WE ARE THE WORLD) -
        (BANNER / TITULO / BOTÃO 'SAIBA MAIS')
    -->
    <section id="evento-ufa">

    </section>
    <!--
        QUIZ -
        (TITULO / PEQUENO TEXTO / BOTÃO 'FAÇA JÁ O QUIZ')
    -->
    <section id="quiz">

    </section>

    <!--
        FOOTER -
        (LINKS DE NAV / AGRADECIMENTO / LOGO)
    -->
    <footer>

    </footer>
</body>
</html>
