<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../style/cadastro.css">

    <!-- JAVASCRIPT -->
    <script src="../script/login.js" defer></script>

    <!-- FAVICON -->
    <link rel="icon" href="../assets/img/favicon.png" type="image/x-icon">

    <!-- NOME ABA -->
    <title>Login - Flashback</title>
</head>
<body>
    <img class="gif" src="../assets/img/globo-gif.gif" alt="gif-globo">
    <div class="div-total total-login">
        <div class="div-titulo">
            <a href="../view/index.html" class="div_titulo">
                <button class="btn-pai btn2">
                    < VOLTAR AO SITE
                </button>
            </a>
            <h3>LOGIN</h3>
        </div>
        <div class="div-inputs">
            <h4>EMAIL</h4>
            <input type="text" id="ipt-email">
            <h4>SENHA</h4>
            <input type="password" id="ipt-senha">
        </div>
        <div class="div-btns">
            <div class="div-login">
                Ainda não tem Cadastro?
                <a href="../view/cadastro.html">
                    <div class="botao2">
                        CADASTRAR UMA CONTA
                    </div>
                </a>
            </div>
            
            <a href="../view/index.html">
                <div class="botao3">
                    <button class="btn-pai btn2">
                        ENTRAR
                    </button>
                </div>
            </a>
        </div>
    </div>
</body>