<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../style/quiz.css">

    <!-- JAVASCRIPT -->
    <script src="../script/quiz.js" defer></script>

    <!-- FAVICON -->
    <link rel="icon" href="../assets/img/favicon.png" type="image/x-icon">

    <!-- NOME ABA -->
    <title>Quiz Musical - Flashback</title>
</head>
<body>
    <img class="gif" src="../assets/img/globo-gif.gif" alt="gif-globo">
    <div class="div-total div-quiz">
        <div class="div-titulo">
            <a href="../view/quiz-options.html" class="div_titulo">
                <button class="btn-pai btn2">
                    < RECOMEÇAR
                </button>
            </a>
            <h1>1</h1>
        </div>

        <div class="pergunta1">
            <div class="conteudo-pergunta">
                <img width="100px" src="../assets/img/imagem-musica.png" alt="">
                <button class="btn-play">
                    <h5>Play</h5>
                </button>
                <h4>Quem canta essa música?</h4>
            </div>
            
            <div class="botao respostas">
                <a href="../view/quiz-musical.html">
                    <button class="btn-pai btn2">
                        OPÇÃO 1
                    </button>
                </a>
            </div>
            <div class="botao respostas">
                <a href="../view/quiz-musical.html">
                    <button class="btn-pai btn2">
                        OPÇÃO 2
                    </button>
                </a>
            </div>
            <div class="botao respostas">
                <a href="../view/quiz-musical.html">
                    <button class="btn-pai btn2">
                        OPÇÃO 3
                    </button>
                </a>
            </div>
            <div class="botao respostas">
                <a href="../view/quiz-musical.html">
                    <button class="btn-pai btn2">
                        OPÇÃO 4
                    </button>
                </a>
            </div>
        </div>

    </div>
</body>
    