<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="../style/quiz.css">

    <!-- JAVASCRIPT -->
    <script src="../script/quiz.js" defer></script>

    <!-- FAVICON -->
    <link rel="icon" href="../assets/img/favicon.png" type="image/x-icon">

    <!-- NOME ABA -->
    <title>Quiz - Flashback</title>
</head>
<body>
    <img class="gif" src="../assets/img/globo-gif.gif" alt="gif-globo">
    <div class="div-total">
        <div class="div-titulo">
            <a href="../view/index.html" class="div_titulo">
                <button class="btn-pai btn2">
                    < VOLTAR AO SITE
                </button>
            </a>
            <h1>QUIZ</h1>
        </div>
        
        <div class="botao opcao">
            <a href="../view/quiz-musical.html">
                <button class="btn-pai btn2">
                    QUIZ MUSICAL
                </button>
            </a>
        </div>
        <div class="botao opcao">
            <a href="../view/quiz-geral.html">
                <button class="btn-pai btn2">
                    QUIZ GERAL
                </button>
            </a>
        </div>
        <div class="botao opcao">
            <a href="../view/quiz-musical.html">
                <button class="btn-pai btn1">
                    MEU DESEMPENHO
                </button>
            </a>
        </div>
        <div class50vh;-container"></div>

    </div>
</body>